<footer class="site-footer"
  <div class="footer-wrapper">
      <nav class="footer-left">
		© {{ site.time | date: '%Y' }} <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>  
	  </nav>
      <nav class="footer-right">
           <a class="footer-link" href="mailto:kaustab21@gmail.com">email</a>
           <a class="footer-link" href="https://github.com/kaustabpal">github</a>
           <a class="footer-link" href="https://twitter.com/kaustabpal">twitter</a>
      </nav>
  </div>
</footer>
