// =================== Variables ==================//

$content-width:    650px !default;

$on-palm:          600px !default;
$on-laptop:        700px !default;

$text-color:       #e1e1e1 !default;
$background-color: #1b1b1b !default;
$brand-color:      #58a6ff !default;

$grey-color:       #6e6e73 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$header-text: #f5f5f7 !default;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;

$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;

// ========== Code ========== //
// Color of the code.
$code-color: #f8f8f2 !default;
$code-font-size: 0.9em !default;
$code-background: #000;
$code-highlight-color: (
  comment: #93a1a1,
  keyword: #859900,
  number: #2aa198,
  title: #268bd2,
  attribute: #b58900,
  symbol: #cb4b16,
  built_in: #dc322f,
  formula: #eee8d5
) !default;

// ========== TOC ========== //

// Font size of the post toc title.
$post-toc-title-size: 20px !default;

// Font size of the post toc content.
$post-toc-content: 15px !default;

// ================================== //

/**
 * Clearfix
 */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.site-header {
  min-height: $spacing-unit * 1.865;
  padding-bottom: 10px;
  //padding-bottom: 10px;
  // Positioning context for the mobile navigation icon
  position: relative;
border-bottom: 1px solid $text-color;
}
.header-wrapper {
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;
}
.site-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  float: left;
  text-decoration: none;
}
.site-nav {
   float: left;
  .page-link {
      margin-right: 10px;
      &,
      &:hover {
          color: #FF4F00;
      }
  }
}
body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe
  UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  color: $text-color;
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}
h1,
h2,
h3 {
  line-height: 1.2;
}
h2,
h3 {
    font-style: italic;
}

%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

@media (prefers-color-scheme: dark) {
  body {
    color: $text-color;
    background: $background-color;
  }

  a:link {
    color: $brand-color;
  }

  a:visited {
    color: $brand-color;
  }
}
.page-content {
  flex: 1;
}
.site-footer {
border-top: 1px solid $text-color;
padding: 30px;
}
.footer-wrapper {
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer-left {
    float: left;

  .footer-link {
    // Gaps between nav items, but not on the last one
      margin-right: 5px;
  }
  }
.footer-right {
    float: right;

  .footer-link {
    // Gaps between nav items, but not on the last one
      margin-left: 5px;
  }
  }
.post-meta {
  color: $grey-color-light;
}
/**
 * Code formatting
 */
pre,
code {
  padding: 0px;
  font-size: $code-font-size;
  border: 1px solid $grey-color-dark;
  background-color: $code-background;
  overflow-x: auto;
}

code {
  padding: 1px 3px;
  border-radius: 4px;
  color: $code-color;
}

pre > code {
  display: block;
}

#markdown-toc::before {
    content: "Contents";
    font-size: $post-toc-title-size;
    font-weight: 400;
    text-transform: uppercase;
}

#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $grey-color; //#aaa;
    display: block;
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    padding-left: 3em;
    list-style: decimal;
    //font-size: $post-toc-content;
    word-wrap: break-word;
}
/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img + em { 
display: block;
text-align: center;
width: 75%;
margin: 10px auto 35px;
color: #888;
}

.image-caption {
    text-align: center;
    width: 85%;
    margin: 10px auto 35px;
    line-height: 1.35;
    color: $grey-color;
    font-style: italic;
}
.backlink-box {
  display: block;
  margin: 2em 0;
  padding: 10px 20px;
  position: relative;
  background-color: $background-color;
  border-left-color: #FF4F00;
  border-left-style: solid;
  border-left-width: 3px;
  color: $text-color;
  //font-size: $post-toc-content;
  box-sizing: border-box;
  word-wrap: break-word;
}
.post-list-heading {
 font-size: 1.5em;
}
.post-list {
  margin-left: 0;
  list-style: none;
}
/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
  padding: 0px;
}

@import
   "minima/syntax-highlighting"
;
