// =================== Variables ==================//

$content-width:    650px !default;

$on-palm:          600px !default;
$on-laptop:        700px !default;

$text-color:       #e1e1e1 !default;
$background-color: #1b1b1b !default;
$brand-color:      #58a6ff !default;

$grey-color:       #6e6e73 !default;
$grey-color-light: lighten($grey-color, 25%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$header-text: #f5f5f7 !default;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;

$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;

// ========== Code ========== //
// Color of the code.
$code-color: #f8f8f2 !default;
$code-font-size: 0.9em !default;
$code-background: #000;
$code-highlight-color: (
  comment: #93a1a1,
  keyword: #859900,
  number: #2aa198,
  title: #268bd2,
  attribute: #b58900,
  symbol: #cb4b16,
  built_in: #dc322f,
  formula: #eee8d5
) !default;

// ========== TOC ========== //

// Font size of the post toc title.
$post-toc-title-size: 20px !default;

// Font size of the post toc content.
$post-toc-content: 15px !default;

// ================================== //

/**
 * Clearfix
 */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#site-title {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: -1px;
  background-color: #df671b;
  color: #212121;
  padding: 0.5em;
}

#site-title ul li a {
    color: #000; /* 100% white */
    display: flex;
    text-decoration: none;
    padding: 1em;
    align-items: center;
}

#nav-item {
  letter-spacing: -1px;
  color: #fff;
  padding: 0.5em;
  padding-left: 1em;
}


#site-menu {
    background-color: #212121; /* grey900 */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.20);
    white-space: nowrap;
}

#site-menu ul li {
    list-style-type: none;
    display: flex;
}

#site-menu ul li:hover {
    background-color: #424242; /* grey800 */
}

#site-menu ul li a {
    display: flex;
    text-decoration: none;
    align-items: center;
}


#site-menu ul li[aria-current] a {
    color: #64b5f6; /* blue300 */
}

#site-menu img {
    height: 1.8rem;
    width: 1.8rem;
    filter: invert(100);
    vertical-align: middle;
    margin-right: 0.5rem;
}

#site-menu ul li[aria-current] img {
    filter: invert(60%) sepia(24%) saturate(997%) hue-rotate(168deg) brightness(107%) contrast(93%);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available; /* replace with stretch when standardized */
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
    line-height: 1.5;
    letter-spacing: -1px;
    background-color: #151515; /* grey50 */
    color: rgba(255, 255, 255, 0.87); /* 87% white */
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

a {
    color: #90caf9; /* blue800 */
    text-decoration: none;
}

a:visited {
    color: #90caf9; /* purple800 */
}

a:hover {
    text-decoration: underline;
}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: rgba(255, 255, 255, 0.87); /* 87% white */
}

h1 {
    /* Display small */
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: 0;
}

h2 {
    /* Headline small */
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0;
}

h3 {
    /* Title large */
    font-size: 1.375rem;
    line-height: 1.75rem;
    letter-spacing: 0;
}

h4 {
    /* Title medium */
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.009375rem;
}

h5 {
    /* Title small */
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
}

h6 {
    /* Label small */
    font-size: 0.6875rem;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
}

code, pre {
        background-color: #424242; /* grey800 */
    }

pre {
    overflow-x: auto;
    border-radius: 5px;
    padding: 10px;
}

code {
    border-radius: 2.5px;
}

#site-menu ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}



main {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 832px;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

footer img {
    width: 60px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: block;
    margin-top: auto;
    overflow-wrap: break-word;
    text-align: center;
}

footer a, footer a:visited {
    color: #9f9f9f;
}

#social {
    padding: 0;
    list-style-type: none;
}

#social li {
    display: inline;
    padding: 0.5em 0.5em;
}

.post-meta {
  color: $grey-color-light;
}
.post-title {
  color: rgba(255, 255, 255, 0.87); /* 87% white */
}

#markdown-toc::before {
    content: "Contents";
    font-size: $post-toc-title-size;
    font-weight: 400;
    text-transform: uppercase;
}

#markdown-toc ul {
}

#markdown-toc {
    border: 1px solid $grey-color; //#aaa;
    display: block;
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    padding-left: 3em;
    //font-size: $post-toc-content;
    word-wrap: break-word;
}
/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img + em { 
display: block;
text-align: center;
width: 75%;
margin: 10px auto 35px;
color: #888;
}

.image-caption {
    text-align: center;
    width: 85%;
    margin: 10px auto 35px;
    line-height: 1.35;
    color: $grey-color;
    font-style: italic;
}
.backlink-box {
  display: block;
  margin: 2em 0;
  padding: 10px 20px;
  position: relative;
  background-color: #212121;
  border-left-color: #df671b;
  border-left-style: solid;
  border-left-width: 3px;
  color: $text-color;
  //font-size: $post-toc-content;
  box-sizing: border-box;
  word-wrap: break-word;
}
.post-list-heading {
 font-size: 1.5em;
}
.post-list {
  margin-left: 0;
  list-style: none;
  line-height: 2.0;
}
/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
  padding: 0px;
}

@import
   "minima/syntax-highlighting"
;
