// =================== Variables ==================//
@import url('//fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$content-width:    650px !default;

$on-palm:          600px !default;
$on-laptop:        700px !default;

$text-color:       #d9d9d9 !default;
$background-color: #0b0b0d !default;
$brand-color:      #58a6ff !default;

$grey-color:       #6e6e73 !default;
$grey-color-light: rgba(255, 255, 255, 0.20) !default;
$grey-color-dark:  rgba(255, 255, 255, 0.15) !default;

$orange: #fe6a06;
$orange-light: lighten($orange, 05%);

$header-text: #f5f5f7 !default;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;

$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;

// ========== Code ========== //
// Color of the code.
$code-color: #f8f8f2 !default;
$code-font-size: 0.9em !default;
$code-background: #000;
$code-highlight-color: (
  comment: #93a1a1,
  keyword: #859900,
  number: #2aa198,
  title: #268bd2,
  attribute: #b58900,
  symbol: #cb4b16,
  built_in: #dc322f,
  formula: #eee8d5
) !default;

// ========== TOC ========== //

// Font size of the post toc title.
$post-toc-title-size: 20px !default;

// Font size of the post toc content.
$post-toc-content: 15px !default;

// ================================== //

/**
 * Clearfix
 */

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#site-title {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: -1px;
  background-color: #fe6a06;
  color: #0b0b0d;
  padding: 0.5em;
}


#nav-item {
  //letter-spacing: -1px;
  font-weight: 600;
  color: #0b0b0d;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}


#site-menu {
    background-color: #4584ff; /* grey900 */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.20);
    white-space: nowrap;
}

#site-menu ul li {
    list-style-type: none;
    display: flex;
}

#site-menu ul li:hover {
    background-color: #07b7ec; /* grey800 */
}

#site-menu ul li a {
    display: flex;
    text-decoration: none;
    align-items: center;
}


//#site-menu ul li[aria-current] a {
//    color: ##64b5f664b5f6; /* blue300 */
//}

//#site-menu img {
//    height: 1.8rem;
//    width: 1.8rem;
//    filter: invert(100);
//    vertical-align: middle;
//    margin-right: 0.5rem;
//}

//#site-menu ul li[aria-current] img {
//    filter: invert(60%) sepia(24%) saturate(997%) hue-rotate(168deg) brightness(107%) contrast(93%);
//}

body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    //min-height: -webkit-fill-available; /* replace with stretch when standardized */
    font-family: 'Roboto Mono', monospace !important;
    font-size: 12.5px;
    line-height: 1.5;
    //letter-spacing: -1px;
    background-color: $background-color;
    color: $text-color; /* 87% white */
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

a {
    color: #4584ff; /* blue800 */
    text-decoration: none;
}

a:visited {
    color: #4584ff; /* purple800 */
}

a:hover {
    text-decoration: underline;
    color: #07b7ec
}

//h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
//    color: rgba(255, 255, 255, 0.87); /* 87% white */
//}

h1 {
    /* Display small */
    font-size: 2.25rem;
    line-height: 2.75rem;
    letter-spacing: 0;
    //color: #e13738;
}

h2 {
    /* Headline small */
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0;
    color: #fcd824; //lighten(#6f00e2, 25%);
    text-decoration: underline;
}

h3 {
    /* Title large */
    font-size: 1.375rem;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: #48bd77; //lighten(#6f00e2, 25%);
    text-decoration: underline;
}

h4 {
    /* Title medium */
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.009375rem;
    text-decoration: underline;
}

h5 {
    /* Title small */
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.00625rem;
    text-decoration: underline;
}

h6 {
    /* Label small */
    font-size: 0.6875rem;
    line-height: 1rem;
    letter-spacing: 0.03125rem;
    text-decoration: underline;
}

code, pre {
        background-color: $background-color;
    }

pre {
    overflow-x: auto;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid $orange-light;
}

code {
    border-radius: 2.5px;
}

#site-menu ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}



main {
    margin-left: auto;
    margin-right: auto;
    //padding: 1em;
    max-width: 600px;
    min-width: 0;
    width: 90%;
    box-sizing: border-box;
    overflow-wrap: break-word;
    margin-bottom: auto;
}

footer img {
    width: 60px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    margin-top: auto;
    margin-bottom: 100px;
}

#social {
    padding: 0;
    margin-left: 0px;
    list-style-type: none;
    color: $text-color;
}
#social a, #social a:visited {
    color: $orange-light;
}
#social a:hover {
    color: #4584ff;
}

#social li {
    display: inline;
    padding: 0.5em 0.5em;
}

.post-meta {
  color: $grey-color-light;
}
.post-title {
    color: $text-color;
  //color: #4584ff;
  //color: rgba(255, 255, 255, 0.87); /* 87% white */
}

#markdown-toc::before {
    content: "Contents";
    font-size: $post-toc-title-size;
    font-weight: 400;
    text-transform: uppercase;
}

#markdown-toc ul {
}

#markdown-toc {
    border: 1px solid $orange-light;
    display: block;
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    padding-left: 3em;
    //font-size: $post-toc-content;
    word-wrap: break-word;
}
/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img + em { 
display: block;
text-align: center;
width: 75%;
margin: 10px auto 35px;
color: #888;
}

.image-caption {
    text-align: center;
    width: 85%;
    margin: 10px auto 35px;
    line-height: 1.35;
    color: $grey-color;
    font-style: italic;
}
.backlink-box {
  display: block;
  margin: 2em 0;
  padding: 10px 20px;
  position: relative;
  border-color: #fcd824;
  border-style: solid;
  border-width: 1px;
  color: $text-color;
  //font-size: $post-toc-content;
  box-sizing: border-box;
  word-wrap: break-word;
}
.post-list-heading {
 //font-size: 1.5em;
}
.post-list {
  margin-left: 0;
  list-style: none;
  line-height: 2.0;
  font-size: 1.0em;
}
/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
  padding: 0px;
}

@import
   "minima/syntax-highlighting"
;
