<header>
    <div class="container">
        <nav>
            <div class="nav-container container">
                <div class="initials-logo">
                    <a href="/">
                        <span class="letter-k" data-text="K">K</span><span class="letter-p" data-text="P">P</span>
                    </a>
                </div>
                <ul class="nav-links flex-list">
                    <li><a href="/notes">Notes</a></li>

                    <!-- <li> <button id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite">
                            ☀️
                        </button> </li> -->
                </ul>
            </div>
        </nav>
        <div>
            <div class="divider special-divider"></div>
        </div>
    </div>
</header>