<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

	 

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    <script src="/assets/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
      diameter: 46,
      backgroundColor: '#24292f',
      textColor: '#fff'
    })</script>

    {%- include footer.html -%}

  </body>

</html>
