---
layout: default
---

<div class="home">

  <h1 class="post-list-heading">{{ page.list_title | default: "Entry points" }}</h1>

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
          {% if post.category == "hub" or post.category == "top" %}
      <li>
          {%- assign date_format = site.minima.date_format | default: "%D&nbsp;&nbsp;" -%}
          <div class="post-meta">
              {{ post.date | date: date_format }}
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
          </div>
      </li>
          {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
