---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2>{{ page.title | escape }}</h2>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <aside><div class="bug_reporting">
      <h4>Find an error or bug?</h4>
      <p>Everything on this site is available on GitHub. Head to <a href='https://github.com/kaustabpal/kaustabpal.github.io/issues/new'>and submit a suggested change</a>. Include the URL in the issue.</p>
  </div></aside>
  </div>


</article>
