---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <br>
    <!-- Add backlinks to the current page --> 
    {%- assign link_count = 0 -%}
    {%- assign link_title = page.title -%}
    
    {%- for note in site.posts -%}
      {%- if note.url != page.url -%}
        {%- if note.content contains link_title -%}
            {%- assign link_count = link_count | plus:1 -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    
    {%- if link_count > 0 -%}
      <aside>
        <div class="backlink-box">
          <h4>Backlinks</h4>
            {%- assign link_title = page.title -%}
              <ul>
                {%- for note in site.posts -%}
                  {%- if note.url != page.url -%}
                    {%- if note.content contains link_title -%}
                      <li>
                        <a href="{{note.url}}">{{ note.title }}</a>
                      </li>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </ul>
        </div>
      </aside>
    {%- endif -%}
</div>

  <script src="https://utteranc.es/client.js"
        repo="kaustabpal/kaustabpal.github.io"
        issue-term="pathname"
        label="Comment"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
