---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a class="post-tag" href="/tag/{{ tag_name }}"><nobr>{{ tag_name }}</nobr>&nbsp;</a>
        {% endfor %}
      </span>
      <span>
        <hr>
      </span>
    </p>
      
  </header>
 
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    <aside></aside><div class="bug_reporting">
      <h4>Find an error or bug?</h4>
      <p>Everything on this site is available on GitHub. Head to <a href='https://github.com/kaustabpal/kaustabpal.github.io/issues/new'>and submit a suggested change</a>. Include the URL in the issue.</p>
  </div></aside>
    
  </div>
<div>
<hr/>
<br/>
<div class="post-nav">
  <div>
    {% if page.previous.url %}
    <a href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="post-nav-next">
    {% if page.next.url %}
    <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
    {% endif %}
  </div>
</div></div>
    


  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
