---
layout: default
---

<div class="home">

  {%- if site.posts.size > 0 -%}
    <h1 class="post-list-heading">{{ page.list_title | default: "Zettels" }}</h1>
    <ul class="post-list">
		{% assign posts = site.posts | sort: 'date' | reverse %}
      {%- for post in posts -%}
      <li>
          {%- assign date_format = site.minima.date_format | default: "%d%m%Y&nbsp;&nbsp;" -%}
          <div class="post-meta">{{ post.date | date: date_format }}
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
